.column__header--collapsed {
  text-align: center;
  font-size: 18px;
  background-color: rgba(234, 223, 223, 0.946);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.cell {
  padding: 0.5rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid gray;
}
.cell:hover {
  background-color: rgb(247, 216, 178);
}
.cell--highlighted {
  background-color: rgba(255, 228, 196, 0.5);
}
.table-wrapper {
  display: flex;

  max-width: 1600px;
  height: fit-content;
}
.column {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.column__header {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 420px) {
  .table-wrapper {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
