.rounded-img {
  width: 50%;
  caret-color: transparent;
  border-radius: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 0.6em;
  margin-bottom: 13em;
}
/* Выплывыающее меню на игре */
.dropdown {
  position: relative;
  display: inline-block;
}
.second {
  position: relative;
  top: 315px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #da0707d8;
  width: 160%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.dropbtn {
  background-color: dark;
  border: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.colorTextAddWindowForButton {
  color: white;
  width: 90px;
  background-color: rgba(2, 4, 0, 0.919);
}
button.colorTextAddWindowForButton:hover {
  background-color: #da0707d8;
}

.fw-light {
  position: relative;
  font-size: 2rem;
  top: -26vh;
  caret-color: transparent;
}

.text-muted {
  caret-color: transparent;
  position: relative;
  font-size: 1.5rem;
  top: -26vh;
}

/* Карточки людей с ссылками */
.card {
  border-radius: 2em;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.card img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
